
Colab/Colab.xcodeproj/project.xcworkspace/xcuserdata/ap592.xcuserdatad/UserInterfaceState.xcuserstate

Colab/.DS_Store

Colab/Colab.xcodeproj/project.xcworkspace/xcuserdata/ap592.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
BusinessCardReader/.DS_Store

*.xcuserstate

*.xcuserstate

*.xcuserstate
